<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra MVC</title>
  </head>

  <body> <% 1 + 1 %> </h1>
    <p> I love programming </p>
    <ol>Everything I ate today </ol>
    <li>sub thanks to jon</li>
    <li>apple</li>
    <li>raspberries</li>
    <Li>peanut butter</Li>
    <li>cheese</li>
    <li>applesauce</li>
    <li>banana</li>
    <li>water</li
  </body>
</html>